<%- include('header'); -%>
<div class="content">
   <h1 id="username">Username</h1>
   <input type="text" id="fname" name="Uname" value=""><br>
   <h1 id="password">Password</h1>
   <input type="text" id="fname" name="password" value=""><br>
 </div>
 <%- include('footer'); -%>